# Core Django
Django==5.1.4
djangorestframework==3.15.2
python-decouple==3.8

# Database
psycopg2-binary==2.9.9

# CORS handling
django-cors-headers==4.6.0

# API enhancements
django-filter==24.3
drf-spectacular==0.28.0

# Caching & Tasks
redis==5.2.1
django-redis==5.4.0
celery==5.4.0
django-celery-beat==2.8.0

# Payments
stripe==11.4.1

# Emails
requests==2.32.3

# PDF Generation
weasyprint==63.1

# Development
django-debug-toolbar==4.4.6

# Production server
gunicorn==23.0.0
whitenoise==6.8.2
